.popup-card__input {
    padding: 0 0 13px 0;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #C4C4C4;
    margin-bottom: 27px;
    max-width: 100%;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px rgba(84, 84, 84, .2) inset;
    width: 358px;
}

@media screen and (max-width: 700px) {
    .popup-card__input {
        margin-bottom: 25px;
    }
}