.profile__button_add {
    right: 0;
    position: absolute;
    margin-top: 35px;
    padding: 0;
    width: 150px;
    height: 50px;
    background-color: #000000;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 2px;
}

@media screen and (max-width: 650px) {
    .profile__button_add {
    position: relative;
    width: 282px;
    }
}

.profile__button_add:hover {
    border: 2px solid rgba(255, 255, 255, 0.6);
    cursor: pointer;
    opacity: .6;
}