.popup-image__container {
    position: relative;
    max-width: 750px;
    width: 100%;
}

@media screen and (max-width: 500px) {
    .popup-image__container {
        max-width: 282px;
        width: 100%;
    }
}