.profile__button_edit {
    padding: 0;
    max-width: 24px;
    background-color: #000;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    align-self: center;
    max-width: 24px;
    max-height: 24px;
}

@media screen and (max-width: 700px) {
    .profile__button_edit {
        max-width: 18px;
        max-height: 18px;
    }
}

.profile__button_edit:hover {
    border: 1px solid rgba(255, 255, 255, 0.6);
    cursor: pointer;
    opacity: .6;
    transition: ease;
}